---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Mozilla
ColumnLimit: 120
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: CaseSensitive
TabWidth: 4
UseTab: ForIndentation
